# Coding Etiquette & Excel Reporting (2)

1. Import Libraries and Data

2. Check Dataframe

3. Create Variables for Profiling

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r'C:\Users\rpa21\Instacart Basket Analysis'

In [3]:
df_cust_grp_merge2 = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_cust_grp_merge2.pkl'))

Check Dataframe

In [ ]:
df_cust_grp_merge2.head()

In [6]:
df_cust_grp_merge2.shape

(24414877, 34)

In [8]:
df_cust_grp_merge2['region'].value_counts(dropna = False)

region
South        8129086
West         6258764
Midwest      5711756
Northeast    4315271
Name: count, dtype: int64

# Creating Variables for Profiling

Creating age range variables: Young adult ages under 30, adult ages 30-45, middle ages adult ages over 45-65, mature adult ages over 65.

In [9]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['Age'] < 30), 'age_range_loc'] = 'young adult'

In [10]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['Age'] >= 30) & (df_cust_grp_merge2['Age'] <= 45), 'age_range_loc'] = 'adult'

In [11]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['Age'] > 45) & (df_cust_grp_merge2['Age'] <= 65 ), 'age_range_loc'] = 'middle aged adult'

In [12]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['Age'] > 65), 'age_range_loc'] = 'mature adult'

In [13]:
df_cust_grp_merge2['age_range_loc'].value_counts(dropna = False)

age_range_loc
middle aged adult    7616010
adult                6116389
mature adult         6092218
young adult          4590260
Name: count, dtype: int64

Creating income range variables

In [14]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['income'] < 50000), 'income_range'] = 'low income'

In [15]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['income'] >= 50000) & (df_cust_grp_merge2['income'] <= 100000), 'income_range'] = 'middle income'

In [16]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['income'] > 100000) & (df_cust_grp_merge2['income'] <= 150000), 'income_range'] = 'middle upper income'

In [17]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['income'] > 150000), 'income_range'] = 'upper income'

In [18]:
df_cust_grp_merge2['income_range'].value_counts(dropna = False)

income_range
middle income          10595251
middle upper income     8139222
upper income            3086487
low income              2593917
Name: count, dtype: int64

Create a dependants variable

In [19]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['number_of_dependants'] == 0), 'dependants_range'] = 'no_dependants'

In [20]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['number_of_dependants'] >= 1), 'dependants_range'] = 'yes_dependants'

In [21]:
df_cust_grp_merge2['dependants_range'].value_counts(dropna = False)

dependants_range
yes_dependants    18309875
no_dependants      6105002
Name: count, dtype: int64

Creating a Customer Porfile with Income and age

In [23]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['age_range_loc'] == 'young adult') & (df_cust_grp_merge2['income_range']=='low income'), 'cust_profile'] = 'young adult_low income'

In [24]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['age_range_loc'] == 'young adult') & (df_cust_grp_merge2['income_range']=='middle income'), 'cust_profile'] = 'young adult_mid income'

In [25]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['age_range_loc'] == 'young adult') & (df_cust_grp_merge2['income_range']=='middle upper income'), 'cust_profile'] = 'young adult_mid upper income'

In [26]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['age_range_loc'] == 'young adult') & (df_cust_grp_merge2['income_range']=='upper income'), 'cust_profile'] = 'young adult_upper income'

In [28]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['age_range_loc'] == 'adult') & (df_cust_grp_merge2['income_range']=='low income'), 'cust_profile'] = 'adult_low income'

In [29]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['age_range_loc'] == 'adult') & (df_cust_grp_merge2['income_range']=='middle income'), 'cust_profile'] = 'adult_mid income'

In [30]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['age_range_loc'] == 'adult') & (df_cust_grp_merge2['income_range']=='middle upper income'), 'cust_profile'] = 'adult_mid upper income'

In [31]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['age_range_loc'] ==  'adult') & (df_cust_grp_merge2['income_range']=='upper income'), 'cust_profile'] = 'adult_upper income'

In [32]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['age_range_loc'] == 'middle aged adult') & (df_cust_grp_merge2['income_range']=='low income'), 'cust_profile'] = 'mid aged adult_low income'

In [33]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['age_range_loc'] == 'middle aged adult') & (df_cust_grp_merge2['income_range']=='middle income'), 'cust_profile'] = 'mid aged adult_mid income'

In [34]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['age_range_loc'] == 'middle aged adult') & (df_cust_grp_merge2['income_range']=='middle upper income'), 'cust_profile'] = 'mid aged adult_mid upper income'

In [35]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['age_range_loc'] ==  'middle aged adult') & (df_cust_grp_merge2['income_range']=='upper income'), 'cust_profile'] = 'mid aged adult_upper income'

In [36]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['age_range_loc'] == 'mature adult') & (df_cust_grp_merge2['income_range']=='low income'), 'cust_profile'] = 'mature adult_low income'

In [37]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['age_range_loc'] == 'mature adult') & (df_cust_grp_merge2['income_range']=='middle income'), 'cust_profile'] = 'mature adult_mid income'

In [38]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['age_range_loc'] == 'mature adult') & (df_cust_grp_merge2['income_range']=='middle upper income'), 'cust_profile'] = 'mature adult_mid upper income'

In [39]:
df_cust_grp_merge2.loc[(df_cust_grp_merge2['age_range_loc'] ==  'mature adult') & (df_cust_grp_merge2['income_range']=='upper income'), 'cust_profile'] = 'mature adult_upper income'

In [40]:
df_cust_grp_merge2['cust_profile'].value_counts(dropna = False)

cust_profile
adult_mid income                   3851037
mid aged adult_mid upper income    3845648
young adult_mid income             3749436
mature adult_mid upper income      3126958
mid aged adult_mid income          1671228
mid aged adult_upper income        1473227
mature adult_mid income            1323550
mature adult_upper income          1147325
adult_mid upper income             1064747
adult_low income                    780492
young adult_low income              693133
mid aged adult_low income           625907
mature adult_low income             494385
adult_upper income                  420113
young adult_mid upper income        101869
young adult_upper income             45822
Name: count, dtype: int64

In [42]:
#Mean order number of the customer profile
df_cust_grp_merge2.groupby('cust_profile').agg({'order_number': ['mean']})

                                order_number
                                        mean
cust_profile
adult_low income                   20.909930
adult_mid income                   22.184326
adult_mid upper income             22.043515
adult_upper income                 21.888037
mature adult_low income            21.424459
mature adult_mid income            21.999651
mature adult_mid upper income      21.949329
mature adult_upper income          21.885552
mid aged adult_low income          21.406468
mid aged adult_mid income          21.963351
mid aged adult_mid upper income    21.951615
mid aged adult_upper income        22.394622
young adult_low income             20.752238
young adult_mid income             22.085895
young adult_mid upper income       21.885363
young adult_upper income           23.856161

In [45]:
df_cust_grp_merge2.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_cust_grp_merge3.pkl'))