# Grouping Data & Aggregating Values

1. Import Libraries and Data

2. Aggregated Mean of the Dataframe

3. Output Analysis of Aggregated Mean

4. Create Loyalty Flag

5. Statistics of Loyalty Categories

6. Create Spending Flag

7. Create Frequency Flag

8. Export Dataframe

# 1. Import Libraries and Data

In [1]:
1. # Import Libraries
import pandas as pd
import numpy as np 
import os

In [2]:
path = r'C:\Users\rpa21\Instacart Basket Analysis'

In [3]:
ords_prods_merge2 = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_new.pkl'))

# 2. Aggregated Mean of the Dataframe

In [22]:
ords_prods_merge2.shape

(32404859, 23)

In [14]:
ords_prods_merge2.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

3. There are more department_id, 21, compared to the subset.

# 4. Create a loyalty flag for existing customers

In [6]:
ords_prods_merge2['max_order'] = ords_prods_merge2.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\rpa21\AppData\Local\Temp\ipykernel_15940\4103302588.py:1: FutureWarning: The provided callable <function amax at 0x0000021C3B7A1BC0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge2['max_order'] = ords_prods_merge2.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
ords_prods_merge2.loc[ords_prods_merge2['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [9]:
ords_prods_merge2.loc[(ords_prods_merge2['max_order'] <= 40) & (ords_prods_merge2['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [10]:
ords_prods_merge2.loc[ords_prods_merge2['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [11]:
ords_prods_merge2['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [ ]:
ords_prods_merge2['loyalty_flag'].head()

In [ ]:
ords_prods_merge2.info()

In [ ]:
#checking column
ords_prods_merge2.head()

In [19]:
ords_prods_merge2[['user_id', 'loyalty_flag', 'order_number']].head(15)

    user_id      loyalty_flag  order_number
0       138  Regular customer            28
1       138  Regular customer            30
2       709      New customer             2
3       764      New customer             1
4       764      New customer             3
5       777  Regular customer            16
6       825      New customer             3
7       910  Regular customer            12
8      1052  Regular customer            10
9      1052  Regular customer            15
10     1379      New customer             1
11     1480    Loyal customer            36
12     1480    Loyal customer            38
13     1480    Loyal customer            39
14     1494  Regular customer             6

# Statistics of Loyalty Flag

In [50]:
# 5. Find the basic Statistics of the product prices for each loyalty category.
#Is there a difference in spending habits?
ords_prods_merge2.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In an observation of the mean values, new customers spend the most on products, while loyal customers spend the least amount of money on products.

# 6. Create a spending flag of average price of orders, using 'low spender' and 'high spender' as criteria.

In [21]:
# Creating a new column
ords_prods_merge2['average price'] = ords_prods_merge2.groupby(['user_id'])['prices'].transform(np.max)

C:\Users\rpa21\AppData\Local\Temp\ipykernel_15940\859429158.py:2: FutureWarning: The provided callable <function amax at 0x0000021C3B7A1BC0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge2['average price'] = ords_prods_merge2.groupby(['user_id'])['prices'].transform(np.max)

In [ ]:
# Checking the new column
ords_prods_merge2.head()

In [25]:
# Creating a flag for low and high spenders
ords_prods_merge2.loc[ords_prods_merge2['average price'] < 10, 'spender_flag'] = 'Low spender'

In [27]:
ords_prods_merge2.loc[ords_prods_merge2['average price'] >= 10, 'spender_flag'] = 'High spender'

In [28]:
ords_prods_merge2['spender_flag'].value_counts(dropna = False)

spender_flag
High spender    32372969
Low spender        31890
Name: count, dtype: int64

In [31]:
ords_prods_merge2[['user_id', 'spender_flag', 'prices']].head(15)

    user_id  spender_flag  prices
0       138  High spender     5.8
1       138  High spender     5.8
2       709  High spender     5.8
3       764  High spender     5.8
4       764  High spender     5.8
5       777  High spender     5.8
6       825  High spender     5.8
7       910  High spender     5.8
8      1052  High spender     5.8
9      1052  High spender     5.8
10     1379  High spender     5.8
11     1480  High spender     5.8
12     1480  High spender     5.8
13     1480  High spender     5.8
14     1494  High spender     5.8

In [ ]:
ords_prods_merge2.head()

In [33]:
ords_prods_merge2.shape

(32404859, 24)

# 7. Frequencies of Customers Orders Create a Frequency Flag

In [34]:
ords_prods_merge2['customer_frequency'] = ords_prods_merge2.groupby(['user_id'])['days_since_last_order'].transform(np.median)

C:\Users\rpa21\AppData\Local\Temp\ipykernel_15940\508254739.py:1: FutureWarning: The provided callable <function median at 0x0000021C3B8E3880> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge2['customer_frequency'] = ords_prods_merge2.groupby(['user_id'])['days_since_last_order'].transform(np.median)

In [36]:
ords_prods_merge2.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,busiest_day,busiest days,Busiest days,Busiest_day,busiest_period_of_day,max_order,loyalty_flag,average price,spender_flag,customer_frequency
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Regularly busy,regularly busy,Regularly busy,Regularly busy,Most_orders,32,Regular customer,20.0,High spender,8.0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Regularly busy,regularly busy,Regularly busy,Regularly busy,Average_orders,32,Regular customer,20.0,High spender,8.0
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Busiest day,busiest days,Busiest days,Busiest day,Average_orders,5,New customer,18.5,High spender,8.0
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Regularly busy,slowest days,Slowest days,Regularly busy,Most_orders,3,New customer,14.0,High spender,9.0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Least busy,slowest days,Slowest days,Least busy,Average_orders,3,New customer,14.0,High spender,9.0

In [45]:
ords_prods_merge2.loc[ords_prods_merge2['customer_frequency'] > 20, 'frequency_flag'] = 'Non_frequent_customer'

In [42]:
ords_prods_merge2.loc[ords_prods_merge2['customer_frequency'] >10 & (ords_prods_merge2['customer_frequency']<= 20),'frequency_flag'] = 'Regular_customer'

In [43]:
ords_prods_merge2.loc[ords_prods_merge2['customer_frequency'] <= 10, 'frequency_flag'] = 'Frequent_customer'

In [46]:
# Checking customer frequency
ords_prods_merge2['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent_customer        21559853
Regular_customer          7208564
Non_frequent_customer     3636437
nan                             5
Name: count, dtype: int64

In [48]:
ords_prods_merge2[['user_id', 'frequency_flag', 'customer_frequency']].head(15)

    user_id     frequency_flag  customer_frequency
0       138  Frequent_customer                 8.0
1       138  Frequent_customer                 8.0
2       709  Frequent_customer                 8.0
3       764  Frequent_customer                 9.0
4       764  Frequent_customer                 9.0
5       777   Regular_customer                11.0
6       825   Regular_customer                20.0
7       910  Frequent_customer                 6.0
8      1052  Frequent_customer                10.0
9      1052  Frequent_customer                10.0
10     1379   Regular_customer                20.0
11     1480  Frequent_customer                 7.0
12     1480  Frequent_customer                 7.0
13     1480  Frequent_customer                 7.0
14     1494  Frequent_customer                 7.0

In [ ]:
ords_prods_merge2.info()

In [52]:
ords_prods_merge2.shape

(32404859, 26)

# 8. Export Dataframe as pkl

In [53]:
ords_prods_merge2.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'grouped_ords_prods_merge2.pkl'))