# Coding Etiquette & Excel Reporting 1

1. Import Libraries and Data

2. Personally Identifiable Information PII

3. Regional Segmentation

4. Low Activity Customers

5. Save Dataframe to pickle

6.  Create Crosstab

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r'C:\Users\rpa21\Instacart Basket Analysis'

In [3]:
df_cust_grp_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_cust_grp_merge.pkl'))

In [4]:
df_cust_grp_merge.shape

(32404859, 34)

# 2. Personally Identifiable Information

In [5]:
df_cust_grp_merge = df_cust_grp_merge.drop(columns = ['First Name', 'Last Name'])

In [ ]:
df_cust_grp_merge.info()

The dataframe contains many PII elements. The First Name and the Last Name of each customer, 
has been removed from the dataframe, as this is particularly sensitive data.

# 3. Regional Segmentation

Defining the Regions

In [7]:
# Defining northeast states
northeast_states = ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 
                    'Pennsylvania', 'New Jersey']

In [8]:
# Defining midwest states
midwest_states = ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska',
                  'Kansas', 'Minnesota', 'Iowa', 'Missouri']

In [9]:
# Defining south states
south_states = ['Delaware','Maryland','District of Columbia','Virginia','West Virginia','North Carolina','South Carolina', 
                'Georgia','Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama',  'Oklahoma', 'Texas', 
                'Arkansas', 'Louisiana']

In [10]:
# Defining west states
west_states = ['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska',
'Washington', 'Oregon', 'California', 'Hawaii']

In [11]:
df_cust_grp_merge.loc[df_cust_grp_merge['State'].isin(northeast_states), 'region'] = 'Northeast'

In [12]:
df_cust_grp_merge.loc[df_cust_grp_merge['State'].isin(midwest_states), 'region'] = 'Midwest'

In [13]:
df_cust_grp_merge.loc[df_cust_grp_merge['State'].isin(south_states), 'region'] = 'South'

In [14]:
df_cust_grp_merge.loc[df_cust_grp_merge['State'].isin(west_states), 'region'] = 'West'

In [15]:
df_cust_grp_merge['region'].value_counts(dropna = False)

region
South        10791885
West          8292913
Midwest       7597325
Northeast     5722736
Name: count, dtype: int64

In [16]:
region_spending = pd.crosstab(df_cust_grp_merge['region'],df_cust_grp_merge['spender_flag'], dropna = False).sort_values(by = 'High spender', ascending = False)

In [17]:
# Spending by region
region_spending

spender_flag  High spender  Low spender
region
South             10781873        10012
West               8284433         8480
Midwest            7589534         7791
Northeast          5717129         5607

Bar Chart of spending by region

In [18]:
region_spending.to_clipboard()

In [19]:
region_prices = pd.crosstab(df_cust_grp_merge['region'],df_cust_grp_merge['price_range_loc'], dropna = False).sort_values(by = 'High-range product', ascending = False)

In [20]:
region_prices

price_range_loc  High-range product  Low-range product  Mid-range product
region
South                        139390            3368338            7284157
West                         107168            2592736            5593009
Midwest                       97918            2372304            5127103
Northeast                     73202            1792943            3856591

# 4. Low Activity Customers; Exclusion Flag

Create an exclusion flag for low activity customers

In [21]:
df_cust_grp_merge.loc[df_cust_grp_merge['order_number'] < 5, 'exclusion_flag'] = 'Low activity customers'

In [22]:
df_cust_grp_merge.loc[df_cust_grp_merge['order_number'] >= 5, 'exclusion_flag'] = 'High activity customers'

In [23]:
df_cust_grp_merge['exclusion_flag'].value_counts(dropna = False)

exclusion_flag
High activity customers    24414877
Low activity customers      7989982
Name: count, dtype: int64

In [24]:
# Drop rows with order_number less than 5 (axis=0 specifies rows)
df_cust_grp_merge2 =df_cust_grp_merge.drop(df_cust_grp_merge[df_cust_grp_merge['order_number'] < 5].index, axis=0)

In [ ]:
df_cust_grp_merge2.head()

In [26]:
#Check exclustion flag
df_cust_grp_merge2['exclusion_flag'].value_counts(dropna = False)

exclusion_flag
High activity customers    24414877
Name: count, dtype: int64

Save Dataframe to Prepared Data

In [27]:
df_cust_grp_merge2.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_cust_grp_merge2.pkl'))

Create a crosstab of 'days since last order' and 'order number'.

In [32]:
crosstab = pd.crosstab(df_cust_grp_merge2['days_since_last_order'], df_cust_grp_merge2['order_number'], dropna = False)

In [33]:
crosstab.to_clipboard()